/* Style */

.carousel-image {
    height: 50vh;
    background: url('../img/dbcImageFundo.jpg') no-repeat center top / cover;
}

.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem white;
    border-color: #fff;
  }

  .accordion-button:focus {
    z-index: 3;
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
  }