/* Button */

.button {
    display: inline-block;
    padding: 5px 40px;
    border: black;
    border-radius: 8px;
    margin-top: 10px;
    color: black;
    background-color: rgb(184, 182, 182);
    cursor: pointer;
}

.buttonFechado {
    display: inline-block;
    padding: 5px 40px;
    border: black;
    border-radius: 8px;
    margin-top: 10px;
    color: red;
    background-color: rgb(23, 24, 13);
    cursor: pointer;
    position: fixed;
    margin-top: 450px;
    margin-left: 98px;
    margin-right: 59px;
    vertical-align: middle;
}