/* General */

.visorLateral h1 {
    text-align: center;   
}

.visorLateral div {
   width: 100%;
   height: 100%;
}

.visorLateral {
    padding: 8px;
}

form {
    margin-top: 10px;
}

.button:hover{
    color: white;
}

.hide {
    display: none;
}