/* Pokedex */

.pokedex {
    width: 310px;
    height: 500px;
    background-color: rgb(220, 27, 27);
    border: 5px solid rgb(131, 27, 27);
    display: flexbox;
    vertical-align: middle;
    border-radius: 20px;
    text-align: center;
}

.pokedexLateral {
    width: 310px;
    height: 500px;
    background-color: rgb(220, 27, 27);
    border: 5px solid rgb(131, 27, 27);
    display: flexbox;
    vertical-align: middle;
    border-radius: 20px;
    text-align: left;
    transform: translate(-100%,0);
}

#input-open-menu:checked ~ * .pokedexLateral{
    width: 310px;
    height: 500px;
    background-color: rgb(220, 27, 27);
    border: 5px solid rgb(131, 27, 27);
    display: flexbox;
    vertical-align: middle;
    border-radius: 20px;
    text-align: left;
    transform: translate(0,0);
}

.visor {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 20px solid rgb(184, 182, 182);
    border-radius: 2px;
    border-end-start-radius: 40px;
    margin-top: 20px;
    background-color: #efefef;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/fundo.jpg');
    display: float;
}

#input-open-menu:checked ~ * .visorLateral {
    display: flex;
    width: 260px;
    height: 400px;
    margin: 0 auto;
    border: 5px solid grey;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: inset 3px 3px 1em rgba(0,0,0,0.4);
    background-color: rgb(49, 209, 49);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.visorLateral {
    display: none;
    position: relative;
    width: 260px;
    height: 400px;
    margin: 0 auto;
    border: 5px solid grey;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.4);
    background-color: rgb(131, 211, 131);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.imagemPokemon {
    vertical-align: middle;
}

.pardeDeCima{
    width: 100%;
    height: 100px;
    display: block;
}

.camera{
    width: 80px;
    height: 80px;
    margin-left: -100px;
    margin-top: 5px;
    display: inline-block;
    box-shadow: 0 3px 8px rgba(0,0,0,0.4);
    border: 7px solid rgb(187, 181, 181);
    border-radius: 50%;
    background-color: rgb(60, 113, 173);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.cameraReflexo {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: rgb(108, 166, 231);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.sinalVermelho {
    width: 15px;
    height: 15px;
    margin: 0 auto;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(199, 48, 48);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.sinalAmarelo {
    width: 15px;
    height: 15px;
    margin: 0 auto;
    border-radius: 50%;
    display: inline-block;
    background-color: yellow;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.sinalVerde {
    width: 15px;
    height: 15px;
    margin: 0 auto;
    border-radius: 50%;
    display: inline-block;
    background-color: green;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.imagemPokedexFechada {
    position: fixed;
    margin-top: 139px;
    margin-left: 52px;
    margin-right: 59px;
}