.Button {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  color: white;
  background-color: rgb(74, 74, 201);
}

.cardEp {
    padding: 20px 15px;
    margin-bottom: 30px;
    border-radius: 12px;
    background: rgb(160, 157, 157);
    text-align: center;
}

.cardImg {
    width: 80%;
    height: 80%;
}