.LogoHome {
  width: 50% !important;
}

.positionLogo {
  text-align: center !important;
}

.escritaHome {
  text-align: center !important;
  font-family: 'Times New Roman', Courier, monospace !important;
}