/* Button */

.button {
    display: inline-block;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    color: #fff;

    /* padding: top right bottom left -> 4 valores
       padding: top right/left bottom; -> 3 valores
       padding: top/bottom left/right; -> 2 valores
       padding: umValor -> 1 valor pra tudo
    */
}

.button-primary {
    background-color: #0081ff;
}

.button-secondary {
    background-color: #39b54a;
}

.button-wrapper-right {
    text-align: right;
}